/* Main styles*/
.body {
  margin: 0 auto;
  min-width: 320px;
  font-family: 'TT Lakes', sans-serif;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

button:hover {
  cursor: pointer;
  overflow: hidden;
}


/* Visual helpers */
.transparent-helper:before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(248,248,248, 0) 0%, rgba(248,248,248, 1) 100%);
  width: 24px;
  height: 100%;
  z-index: 100;
  right: 0;
}

.transparent-helper__right:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  width: 40px;
  height: 100%;
  z-index: 100;
  top: 10%;
}


/* Background icons for buttons */
.burger-background {
  background: url("icons/burger.svg");
}
.call-background {
  background: url("icons/call.svg");
}
.chat-background {
  background: url("icons/chat.svg");
}
.profile-background {
  background: url("icons/profile.svg");
}
.repair-background {
  background: url("icons/repair.svg");
}
.checkstatus-background {
  background: url("icons/checkstatus.svg");
}
.close-background {
  background: url("icons/burgerClose.svg");
}
.search-background {
  background: url("icons/search.svg");
}
.go-background {
  background: url("icons/go.svg");
}

