
.burger {
  position: fixed;
  width: 100%;
  height: 700px;
  top: 0;
  left: -100%;
  background-color: var(--main-bg-color-white);
  z-index: 10;
  transition: all 0.3s linear;
  box-shadow: none;
  box-sizing: border-box;
  overflow-y: scroll;
}

.burger-open {
  transform: translateX(100%);
  -webkit-box-shadow: 12px 0 17px 0 rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 12px 0 17px 0 rgba(34, 60, 80, 0.6);
  box-shadow: 12px 0 17px 0 rgba(34, 60, 80, 0.6);
}


.burger-header {
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}
.burger-header__group--item{
  display: flex;
  align-items: center;
}
.burger-header__controls {
  width: 155px;
  justify-content: space-between;
}

.burger__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.burger__list-item {
  margin-bottom: 3.2vh;
  padding-left: 24px;
  height: 32px;
  display: flex;
  align-items: center;
}

.burger__list-item a {
  font-weight: 500;
  font-size: var(--main-font-size-normal);
  color: var(--black-font-color);
  margin: 5px 0;
}

.burger__list-item-active {
  background-color: var(--main-bg-color);
}

.burger__list-item:hover {
  background-color: #cec9c9;
}

.burger__list-item-active a {
  color: var(--grey-font-color);
}

.burger__list-item-active:after {
  content: "";
  background-color: var(--main-blue-color);
  position: absolute;
  height: 32px;
  width: 4px;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.burger__footer {
  padding: 0 0 3.2vh 24px;
}

.address {
  font-style: normal;
  margin-bottom: 2.0vh;
  display: flex;
  flex-direction: column;
}

.address a {
  margin: 0 0 12px 0;
  display: inline-block;
}
.address a:last-child {
  margin-bottom: 0;
}

.address__email {
  font-size: var(--main-font-size-normal);
  font-weight: 500;
}

.address__phone {
  font-size: 24px;
}

.language-switch__list--item {
  font-weight: 500;
  color: inherit;
}

.language-switch__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.language-switch__list>li {
  margin-right: 7px;
}

.language-switch__list>li:last-child {
  margin-right: 0;
}

.language-switch__list--item:hover {
  color: var(--grey-font-color);
}

.language-switch__list--active-item {
  color: var(--grey-font-color)
}