@media (min-width: 720px) {
  .burger {
    width: 320px;
    left: -320px;
  }

  .burger-open {
    transform: translateX(320px);
  }
}

@media (min-width: 768px) {
  .header__wrapper-helper {
    width: 180px;
  }

  .header__logo {
    &:before {
      content: "";
      width: 2px;
      height: 32px;
      background-color: var(--pseudo-line-grey);
      position: absolute;
      top: 10px;
      left: -20px;
    }
  }

  .header__logo {
    &:after {
      display: none;
    }
  }


  .page-content {
    display: flex;
  }

  .office-image {
    border-radius: 5px;
    padding-right: var(--main-page-padding);
    width: 530px;
    height: 307px;
  }

  .only-mobile {
    display: none;
  }

  .text-section {
    margin-right: 48px;
  }

  .swiper-prices {
    display: flex;
    margin: 0;
    flex-direction: column;
  }

  .swiper-prices__header {
    font-size: var(--main-font-size-small-normal);
    color: var(--grey-font-color);
    font-weight: inherit;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 calc(16px + var(--main-page-padding));
    box-sizing: border-box;
    margin-top: 31px;
  }

  .swiper-prices__header--name {
    width: 45%;
  }

  .swiper-prices__header--price {
    width: 74px;
  }

  .swiper-prices__header--time {
    width: 90px;
  }

  .swiper-prices__header--go {
    width: 119px;
  }

  .price__item-wrapper {
    height: 64px;
    align-content: center;
    position: relative;

    &:after {
      content: '';
      border-bottom: 1px solid var(--pseudo-line-grey);
      position: absolute;
      width: calc(100% - var(--main-page-padding));
      bottom: 1px;
      left: calc(var(--main-page-padding)/2);
    }

    &:last-child:after {
      content: none;
    }
  }

  .price-card {
    height: auto;
    border-radius: 0;
  }

  .price-card__item {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .price-card__item--title {
    display: none;
  }

  .price-card__item--description {
    display: inline-block;
  }

  .price {
    margin-top: 0;
    display: flex;
    flex-direction: column;

     li {
       width: auto;
     }
  }

  .price__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .price__item--name {
    width: 45%;
  }

  .price__item--cost {
    width: 74px;
  }

  .price__item--time {
    width: 90px;
  }

  .price__item--buy {
    position: static;
  }

  .footer {
    padding: 32px var(--main-page-padding);
    flex-direction: row;
    text-align: left;
    justify-content: space-between;

    p {
      width: 33%;
    }

    p:nth-child(1) {
      text-align: left;
    }
    p:nth-child(2) {
      text-align: center;
    }
    p:nth-child(3) {
      text-align: right;
    }
  }


  .modal {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .modal-open {

  }

  .modal__content {
    position: absolute;
    width: 440px;
    right: 0;
    top: 0;
    padding-top: 0;
    border-left: 1px solid var(--main-blue-color);
    -webkit-box-shadow: -10px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -10px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -10px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  .modal__content--close-button {
    position: absolute;
    left: -68px;
    top: 36px
  }
}

@media (min-width: 1368px) {

  .body {
    margin-left: 305px;
    max-width: 1120px;
    position: relative;
  }

  .nav__list {
    gap: 32px;
  }

  .nav__list-item {
    display: flex;
    align-items: center;
  }

  .nav__list-item {
    span {
      margin-right: 8px;
      font-size: var(--main-font-size-normal);
      font-weight: 500;
    }
  }


  .horizontal {
    overflow-x: clip;
    flex-wrap: wrap;
  }


  .only-laptop {
    display: none;
  }

  .only-mobile {
    display: none;
  }

  .except-desktop {
    display: none;
  }

  .text-section {
    margin-right: 36px;
  }

  .header {
    padding: 42px var(--main-page-padding) 0 var(--main-page-padding);
  }

  .main {
    padding: 8px 0;
  }

  .main__nav {
    padding-top: 0;
  }


  .aside {
    position: absolute;
    width: 320px;
    height: 100vh;
    top:0;
    left: -304px;
    transition: all 0.1s linear;
    z-index: 50;
    visibility: visible;
    opacity: 1;
  }

  .burger {
    position: static;
    display: block;
    height: 100%;
    left: 0;
  }

  .burger-header {
    padding-top: 42px;
  }

  .burger__container {
    position: relative;
    height: 100%;
  }

  .burger__footer {
    position: absolute;
    bottom: 0;
  }

}
@media (min-width: 1368px) {
  body {
    height: 100vh;
    overflow: hidden;
  }

  .main-content-wrapper {
    overflow-y: scroll;
    height: 100vh;
    position: relative;
  }

  .section__content--description {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .only-desktop {
    display: none;
  }

  .only-laptop {
    display: none;
  }

  .except-mobile {
    display: none
  }
}

@media (max-width: 1367px) and (min-width: 768px) {

  .only-desktop {
    display: none;
  }

  .only-mobile {
    display: none;
  }

  .office-image {
    border-radius: 5px;
    padding-right: var(--main-page-padding);
    width: 360px;
    height: 208px;
  }

  .section__content--description {
    padding-bottom: 47px;
  }
}
