/* Fonts */
@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
    url('./fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes-DemiBold.woff') format('woff'),
    url('./fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('./fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes-Medium.woff') format('woff'),
    url('./fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Light.eot');
    src: local('TT Lakes Light'), local('TTLakes-Light'),
    url('./fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes-Light.woff') format('woff'),
    url('./fonts/TTLakes-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Variables for color */
:root {
    --main-bg-color: #F8F8F8;
    --main-blue-color: #41F6D7;
    --main-bg-color-white: #FFFFFF;

    --border-blue: #B8FFEC;
    --border-lightBlue: #D9FFF5;
    --pseudo-line-grey: #EAEAEA;

    --black-font-color: #1B1C21;
    --grey-font-color: #7E7E82;

    --main-header-h1-font-size: 28px;
    --main-font-size-normal: 16px;
    --main-font-size-small-normal: 14px;
}

/* Main styles */
.body {
    margin: 0 auto;
    background-color: var(--main-bg-color);
    min-width: 320px;
    font-family: 'TT Lakes', sans-serif;
    position: relative;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    overflow: hidden;
}


/* Header */
.header {
    display: flex;
    background-color: var(--main-bg-color-white);
    padding: 24px var(--main-page-padding);
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    border-bottom: 1px solid var(--border-lightBlue);
    position: relative;
}

.header-desktop {
    background-color: var(--main-bg-color);
    border-bottom: none;
}

.header__wrapper-helper {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    border: none;
    background-color: inherit;
    padding: 0;
    width: 40px;
    height: 40px;
    transition: all 0.2s ease;
}

.header-button:hover {
    fill: black;
    opacity: 0.5;
    transform: scale(1.1);
}

.header__logo {
    position: relative;
}


.header__logo::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: var(--pseudo-line-grey);
    position: absolute;
    top: 20%;
    right: -20%;
}

.nav {
    display: flex;
}

.nav__list-laptop {
    margin-right: 42px;
    position: relative;
}

.nav__list-laptop::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: var(--pseudo-line-grey);
    position: absolute;
    top: 10%;
    right: -15%;
}

.nav__list {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav__list li {
    margin-right: 16px;
}

.nav__list li:last-child {
    margin-right: 0;
}

@media (min-width: 760px) {
    .header__wrapper-helper {
        width: 180px;
    }

    .header__logo::before {
        content: "";
        width: 2px;
        height: 32px;
        background-color: var(--pseudo-line-grey);
        position: absolute;
        top: 10px;
        left: -20px;
    }

    .header__logo::after {
        display: none;
    }
}

@media (min-width: 1120px) {
    .nav__list li {
        margin-right: 32px;
    }

    .nav__list-item {
        display: flex;
        align-items: center;
    }

    .nav__list-item span {
        margin-right: 8px;
        font-size: var(--main-font-size-normal);
        font-weight: 500;
    }

}

/* Main content*/
.main {
    width: 100%;
    padding: 24px 0 24px var(--main-page-padding);
    box-sizing: border-box;
    position: absolute;
}

.page-header-text {
    margin: 0 auto;
    font-weight: 700;
    font-size: var(--main-header-h1-font-size);
    color: var(--black-font-color);
    letter-spacing: -0.6px;
    position: relative;
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

.page-header-text:before {
    content: "";
    background-color: var(--main-blue-color);
    height: 40px;
    width: 4px;
    position: absolute;
    left: calc(-1 * var(--main-page-padding));
    top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.main__nav {
    padding: 24px 0;
    box-sizing: border-box;
    position: relative;
}

.main__nav:before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, rgba(248,248,248, 0) 0%, rgba(248,248,248, 1) 100%);
    width: 24px;
    height: 40px;
    right: 0;
}

.horizontal {
    padding: 0;
    list-style: none;
    display: flex;
    overflow-x: scroll;
    margin: 0;
    word-wrap: normal;
    -ms-overflow-style: none;
}

.horizontal::-webkit-scrollbar {
    display: none;
}



@media (min-width: 1120px) {
    .horizontal {
        overflow-x: clip;
        flex-wrap: wrap;
    }
}

.horizontal__item {
    border: 2px solid var(--main-bg-color);
    border-radius: 6px;
}
.horizontal__item-active {
    background-color: var(--main-bg-color-white);
    border-color: var(--border-blue);
}

.horizontal__item-text {
    font-family: inherit;
    font-weight: 400;
    padding: 8px 9px 8px 17px;
    height: 36px;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    font-size: var(--main-font-size-normal);
    color: var(--grey-font-color);
    white-space: nowrap;
}


/* Text Content in Main block */
.page-content {
    margin: 0;
    padding-right: var(--main-page-padding);
}


.text-section {
    font-weight: 400;
    font-size: var(--main-font-size-small-normal);
    color: var(--black-font-color);
    letter-spacing: 0.2px;
    word-spacing: 1px;
}

.text-section__text {
    margin: 0 0 16px 0;
}

.text-section__button {
    border: none;
    background-color: inherit;
    display: inline-flex;
    align-items: flex-end;
    padding: 0;

    font-family: inherit;
    font-weight: 500;
    font-size: var(--main-font-size-normal);
    letter-spacing: -0.2px;
    color: var(--black-font-color);
    margin-bottom: 16px;
}


.text-section__button-text {
    padding: 0 0 0 8px;
}

.office-image {
    position: absolute;
    width: 100vw;
    margin-left: -16px;
}


/* Burger menu (aside)*/
.burger {
    position: fixed;
    width: 320px;
    min-height: 710px;
    top: 0;
    left: -350px;
    background-color: var(--main-bg-color-white);
    height: 100%;
    transition: all 0.3s linear;
    -webkit-box-shadow: 12px 0 17px 0 rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 12px 0 17px 0 rgba(34, 60, 80, 0.6);
    box-shadow: 12px 0 17px 0 rgba(34, 60, 80, 0.6);
}

.burger__container {
    height: 100%;
}
.burger-open {
    transform: translateX(350px);
}

.burger-header {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.7vh;
}

.burger-header__group--item{
    display: flex;
    align-items: center;
}

.burger-header__controls {
    width: 155px;
    justify-content: space-between;
}


.burger__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.burger__list-item {
    margin-bottom: 3.2vh;
    padding-left: 24px;
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
}

.burger__list-item a {
    font-weight: 500;
    font-size: var(--main-font-size-normal);
    color: var(--black-font-color);
    margin: 5px 0;
}

.burger__list-item-active {
    background-color: var(--main-bg-color);
}

.burger__list-item:hover {
    background-color: #cec9c9;
}

.burger__list-item-active a {
    color: var(--grey-font-color);
}

.burger__list-item-active:after {
    content: "";
    background-color: var(--main-blue-color);
    position: absolute;
    height: 32px;
    width: 4px;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.burger__footer {
    position: absolute;
    padding: 0 0 3.2vh 24px;
    bottom: 0;
}

.address {
    font-style: normal;
    margin-bottom: 4.0vh;
}

.address a {
    margin: 0 0 12px 0;
    display: inline-block;
}

.address__email {
    font-size: var(--main-font-size-normal);
    font-weight: 500;
}

.address__phone {
    font-size: 24px;
}

.language-switch__list--item {
    font-weight: 500;
    color: inherit;
}

.language-switch__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.language-switch__list>li {
    margin-right: 7px;
}

.language-switch__list>li:last-child {
    margin-right: 0;
}

.language-switch__list--item:hover {
    color: var(--grey-font-color);
}

.language-switch__list--active-item {
    color: var(--grey-font-color)
}

/* Main media queries */
@media (min-width: 760px) {
    .page-content {
        display: flex;
    }

    .office-image {
        position: static;
        float: right;
        border-radius: 5px;
    }

    .only-mobile {
        display: none;
    }

    .text-section {
        margin-right: 48px;
    }
}
@media (max-width: 759px) {
    :root {
        --main-page-padding: 16px;
    }

    .only-desktop {
        display: none;
    }

    .only-laptop {
        display: none;
    }

    .except-mobile {
        display: none
    }
}
@media (max-width: 1119px) and (min-width: 760px) {
    :root {
        --main-page-padding: 24px;
    }

    .only-desktop {
        display: none;
    }

    .only-mobile {
        display: none;
    }
}
@media (min-width: 1120px) {
    :root {
        --main-page-padding: 32px;
    }

    .only-laptop {
        display: none;
    }

    .only-mobile {
        display: none;
    }

    .except-desktop {
        display: none;
    }

    .text-section {
        margin-right: 36px;
    }

    .header {
        padding: 42px var(--main-page-padding) 0 var(--main-page-padding);
    }

    .main {
        padding: 8px var(--main-page-padding);
    }

    .main__nav {
        padding-top: 0;
    }
}


