/* Main styles */
@font-face {
    font-family: "Lakes";
    src: local(Lakes), url("fonts/TTLakes-DemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lakes";
    src: url("fonts/TTLakes-Medium.woff");
    font-weight: normal;
}

@font-face {
    font-family: "Lakes";
    src: url("fonts/TTLakes-DemiBold.woff");
    font-weight: 200;
}

body {
    margin: 0 auto;
    background-color: #F8F8F8;
    max-width: 320px;
    font-family: "Lakes", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    overflow: hidden;
}


/* Header */
.header {
    display: flex;
    background-color: #FFFFFF;
    padding: 24px 16px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
}

.header__wrapper-helper {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    border: none;
    background-color: inherit;
    padding: 0;
    width: 40px;
    height: 40px;
}

.header__logo {
    position: relative;
}

.header__logo::after {
    content: "";
    border: 1px solid #EAEAEA;
    height: 30px;
    background-color: #EAEAEA;
    position: absolute;
    top: 20%;
    right: -20%;
}

.nav__list {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav__list li {
    margin-right: 16px;
}

.nav__list li:last-child {
    margin-right: 0;
}


/* Main content*/

.main {
    width: 100%;
    padding: 24px 16px;
    box-sizing: border-box;
}

.main__header-text {
    margin: 0 auto;
    font-weight: bold;
    font-size: 28px;
    color: #1B1C21;
    letter-spacing: -0.6px;
    position: relative;
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

.main__header-text:before {
    content: "";
    background-color: #41F6D7;
    height: 40px;
    width: 4px;
    position: absolute;
    left: -16px;
    top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main__nav {
    padding: 24px 0;
}

.horizontal {
    padding: 0;
    list-style: none;
    display: flex;
    overflow-x: scroll;
    margin: 0;
    word-wrap: normal;
}

.horizontal__item-active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.horizontal__item-text {
    padding: 8px 9px 8px 17px;
    height: 36px;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    font-size: 16px;
    font-weight: lighter;
    color: #7E7E82;
    white-space: nowrap;
}

/* Text Content in Main block */

.page-content {
    margin: 0;
}

.text-section {
    font-weight: 200;
    font-size: 14px;
    color: #1B1C21;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}

.text-section__text {
    margin: 0 0 16px 0;
}

.text-section__button {
    font-family: inherit;
    font-weight: normal;
}