@import "src/styles/aside/burger/burger";

.aside {
  position: absolute;
  width: 100vw;
  top:88px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s linear, visibility 0.1s linear;
  z-index: 50;
}

.aside--open {
  opacity: 1;
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.7);
  height: 120vh;
}
